/*media*/

@media screen and (max-width: 1349px) {
	.container {
		width:  1349px;
		margin: 0 auto;
	}
	.delivery-text {
		height: 680px;
	}
}

@media screen and (max-width: 1680px) {
	.delivery-text {
		width: 650px;
	}
	.delivery-main {
		height: 640px;
	}
}

@media screen and (max-width: 1280px) {
	.delivery-text {
		width: 600px;
	}
	.delivery-main {
		height: 680px;
	}
}