/*media*/

@media screen and (max-width: 1349px) {
	.container {
		width:  1349px;
		margin: 0 auto;
	}
	.delivery-main {
		height: 660px;
	}
	.delivery-text {
		height: 600px;
	}	
}

@media screen and (max-width: 1680px) {
	.delivery-text {
		width: 650px;
	}
	.delivery-main {
		height: 640px;
	}
}

@media screen and (max-width: 1280px) {
	.delivery-text {
		width: 650px;
	}
	.delivery-main {
		height: 660px;
	}
	#downDick {
    background-color: transparent;
    background-image: url(../img/dick1.gif), url(../img/dick2.gif);
    -webkit-animation: downDick 0s linear infinite;
    -moz-animation: downDick 0s linear infinite;
    -ms-animation: downDick 0s linear infinite;
    animation: downDick 0s linear infinite;
	z-index: 999;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
	margin-top: 0;
}
}