body {
	margin: 0;
	padding: 0;
}

.container {
	margin: auto;
	/*width: 100%;*/
}
/*header*/

.header-main {
	display: flex;
	/*position: relative;*/
	justify-content: space-around;
	align-items: center;
	height: 100px;
	background: #000;
	border-bottom: 1px solid #024059;
}

.logo {
	display: flex;
	align-items: center;
}

.logo h2{
	margin: 0;
	align-items: center;
	text-transform: uppercase;
	font-family: 'Caveat', cursive;
	color: #fff;
	font-size: 40px;	
}

.menu ul {	
	display: flex;
	flex-direction: row;
}

.menu li a{
	margin: 0 15px 5px;
	text-decoration: none;
	/*text-transform: uppercase;*/
	color: #fff;
	font-family: 'Didact Gothic', sans-serif;
	font-size: 20px;
}

.underline a {
	position: relative;
	cursor: pointer;
}

.underline a:after {
	display: block;
	position: absolute;
	right: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	bottom: -5px;
	width: 0%;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color: #024059; /*задаём цвет линии*/
	content: "";
	transition: width 0.3s ease-out; /*задаём время анимации*/
}

.underline a:hover:after,
.underline a:focus:after {
    width: 100%;
}

/*main*/

.main-block {
	margin: 30px auto;
	display: flex;
	height: 700px;
	width: 1350px;
}

.center-img {
	position: absolute; 
	top: -190px!important;
}

/*items*/

.main-items {
	width: 1200px;
	margin: auto;
	/*padding: 30px;*/
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.item {
	margin-bottom: 30px;
	width: 350px;
	height: 600px;
	border: 1px solid #024059;
	position: relative;
	/*display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;*/
}

.item1 {
	width: 350px;
	height: 600px;
	background: url(../img/8990148-1-black.png);
	background-position: 50% 0;
}

.item2 {
	width: 350px;
	height: 600px;
	background: url(../img/10332539-1-rosewine.png);
	background-position: 30% 0;
}

.item3 {
	width: 350px;
	height: 600px;
	background: url(../img/10506664-1-greymarl.png);
	background-position: 70% 0;
}
.item4 {
	width: 350px;
	height: 600px;
	background: url(../img/10332541-1-arrowwood.png) no-repeat;
	background-position: 30% 0;
}

.item5 {
	width: 350px;
	height: 600px;
	background: url(../img/11042602-4.png) no-repeat;
	background-position: 30% 0;
}

.item6 {
	width: 350px;
	height: 600px;
	background: url(../img/10775349-2.png) no-repeat;
	background-position: 100%;
}

.item7 {
	width: 350px;
	height: 600px;
	background: url(../img/9855901-1-mousakka.png) no-repeat;
	background-position: 60% 0%;
}

.item8 {
	width: 350px;
	height: 600px;
	background: url(../img/9728044-1-white.png) no-repeat;
	background-position: 100%;
}

.item9 {
	width: 350px;
	height: 600px;
	background: url(../img/9990049-1-orionblue.png) no-repeat;
	background-position: 40%;
}

.price {
	position: absolute;
    bottom: 0;
    right: 0;
    /*z-index: 1;*/
    color: #999;
    background: white;
    padding: 3px;
    font-family: 'Didact Gothic', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}


/*.check {
	position: absolute;
	left: 40px;
	top: 30%;
}



#chlen2:checked ~ .item1{
	background: url(../img/hoodie2.png) no-repeat;
	width: 280px;
	height: 300px;
	-webkit-background-size: cover;
	background-size: cover;
}

#chlen3:checked ~ .item1{
	background: url(../img/hoodie3.png) no-repeat;
	width: 280px;
	height: 300px;
	-webkit-background-size: cover;
	background-size: cover;
}*/

.footer {
	height: 100px;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer .logo {
	height: 100px;
	width: 400px;
	background-position: 70% 50%;
} 

.menu-footer {
	padding: 0;
	margin: 0;
}

.menu-footer ul {
	padding: 0;
}

.menu-footer li {
	padding: 0;
	margin: 0 10px;
	display: inline-block;
	width: 50px;
	height: 50px;
	border: 1px solid white;
	background: white;
	border-radius: 50%;
}

.menu-footer img {
	
}

@media screen and (max-width: 1349px) {
  .container {
    width:  1349px;
}
}